
## <summary>policy for grow</summary>


########################################
## <summary>
##	Transition to grow.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`grow_domtrans',`
	gen_require(`
		type grow_t, grow_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, grow_exec_t, grow_t)
')


########################################
## <summary>
##	Execute grow server in the grow domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`grow_initrc_domtrans',`
	gen_require(`
		type grow_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, grow_initrc_exec_t)
')


########################################
## <summary>
##	Search grow lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`grow_search_lib',`
	gen_require(`
		type grow_var_lib_t;
	')

	allow $1 grow_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read grow lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`grow_read_lib_files',`
	gen_require(`
		type grow_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, grow_var_lib_t, grow_var_lib_t)
')

########################################
## <summary>
##	Manage grow lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`grow_manage_lib_files',`
	gen_require(`
		type grow_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, grow_var_lib_t, grow_var_lib_t)
')

########################################
## <summary>
##	Manage grow lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`grow_manage_lib_dirs',`
	gen_require(`
		type grow_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, grow_var_lib_t, grow_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a grow environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`grow_admin',`
	gen_require(`
		type grow_t;
		type grow_initrc_exec_t;
		type grow_var_lib_t;
	')

	allow $1 grow_t:process { ptrace signal_perms };
	ps_process_pattern($1, grow_t)

	grow_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 grow_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, grow_var_lib_t)

')

